#accordion-container {
	font-size: 13px;
	background: #ffffff;
	padding: 5px 10px 10px 10px;
	-moz-box-shadow: 0 5px 15px #cccccc;
	-webkit-box-shadow: 0 5px 15px #cccccc;
	box-shadow: 0 5px 15px #cccccc;
	
}

.accordion-header {
	font-size: 16px;
	background: #ebebeb;
	margin: 5px 0 0 0;
	padding: 5px 20px;
	cursor: pointer;
	color: #666666;
}

.active-header {
	background: #ebebeb;
	background-repeat: no-repeat;
	background-position: right 50%;
}

.active-header:hover {
	background: #ebebeb;
	background-repeat: no-repeat;
	background-position: right 50%;
}

.inactive-header {
	background: #ebebeb;
	background-repeat: no-repeat;
	background-position: right 50%;
}

.inactive-header:hover {
	background: #ebebeb;
	background-repeat: no-repeat;
	background-position: right 50%;
}

.accordion-content {
	display: none;
	padding: 20px;
	background: #8f8067;
	border-top: 1;
}